# Created by venv; see https://docs.python.org/3/library/venv.html
# .gitignore

# Entornos Virtuales
venv/
.venv/

# Archivos de caché y compilación de Python
__pycache__/
*.pyc
*.o
*.so

# Archivos generados por Streamlit
#.streamlit/  (que lo suba también por ahora)